@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  /* background-color: #1a1a1c; */
  /* color: #fff; */
  
}

.coin-app {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* margin-top: 20px; */
  /* color: #fff; */
  /* background-color: #e2e2e2; */
  /* padding: 20px; */
  border: 1px solid gray;
  
}
